section.about
    .container
        .title.title--with-bottom-line
            h2.title__header  About us
            .title__text We are added our major Servises

        ul.about__list
            li.about_item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simple Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    

            li.about_item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Lorem Ipsum is simple Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                
            li.about_item
                .icon.icon-message
                h3.about__header Ads managetment
                p.about__description Lorem Ipsum is simple Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
