.contacts
	a.contact(href="tel:+7(904)567-8787")
		i.fa.fa-mobile.contact__icon(aria-hidden="true")
			span.contact__text 8(904)567-8787

	a.contact(href="mailto:info@business.co")
		i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
			span.contact__text info@business.co

	a.facebook-icon(href=facebook)
		i.fa.fa-facebook(aria-hidden="true")
			